@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --blue: #00204a;
  --cyan: #00BBf0;
  --purple: #0B0252;
  --light-blue: #00285a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 4000px;
}

p {
  line-height: 1.6;
}

h2,
h3 {
  color: var(--blue);
}

/* Utility Classes */
.container {
  width: 1200px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: var(--cyan);
  color: #fff;
  padding: 12px 40px;
}

.text-primary {
  color: var(--cyan);
}

/* Header Start */
#home {
  background: url("../img/home-bg.png") no-repeat center center/cover;
  background: var(--purple);
  height: 100vh;
}

#home .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#home .navbar .logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

#home .navbar ul li a {
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
}

#home .navbar ul li a.active {
  color: var(--cyan);
}

#home .navbar ul li a:hover {
  color: var(--cyan);
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-self: center;
  height: calc(100vh - 100px);
  place-content: center;
  column-gap: 7rem;
}

#home .home-content h1 {
  color: #fff;
  font-size: 50px;
}

#home .home-content p {
  color: #fff;
  margin: 0 0 3rem;
  font-size: 14px;
}

#home .home-content img {
  width: 100%;
  /* animation: upDown 5s infinite; */
}

@keyframes upDown {
  0% {
    transform: translateY(-45px);
  }

  50% {
    transform: translateY(45px);
  }

  100% {
    transform: translateY(-45px);
  }
}

/* Header End */

/* Services Start */
#services {
  padding: 5rem 0;
  text-align: center;
}

#services h2 {
  font-size: 30px;
  padding-bottom: 8px;
}

#services .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin: 4rem 0 2rem;
}

#services .row .col {
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#services .row .col:hover {
  transform: scale(1.04);
}

#services .row .col img {
  width: 65px;
}


#services .row .col h3 {
  margin: 20px 0;
  font-size: 20px;
  color: var(--blue);
}

#services .row .col p {
  font-size: 14px;
}

/* Services End */

/* About Start */
#about {
  padding: 5rem 0;
  background-color: var(--blue);
}

#about h2 {
  font-size: 30px;
  text-align: center;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  margin-top: 5rem;
}

#about .row img {
  width: 100%;
}

/* About End */