@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;&display=swap');

:root {
  --blue: #00204a;
  --cyan: #00BBf0;
  --purple: #0B0252;
  --light-blue: #00285a;
  --bg-white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background-color: var(--cyan);
  color: #fff;
  padding: 12px 40px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0091b9;
}

.text-primary {
  color: var(--cyan);
}

/* Header Start */
#home {
  background: url("../img/home-bg.png") no-repeat center center/cover var(--purple);
}

#home .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

#home .navbar .logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

#home .navbar ul li a {
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
}

#home .navbar ul li a:hover,
#home .navbar ul li a.active,
#footer .row .col:nth-child(3) ul li a:hover {
  color: var(--cyan);
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  min-height: calc(100vh - 120px);
  column-gap: 7rem;
}

#home .home-content h1 {
  color: #fff;
  font-size: 50px;
}

#home .home-content p {
  color: #fff;
  margin: 1rem 0 3rem;
  font-size: 14px;
}

#home .home-content img {
  max-width: 100%;
  animation: upDown 5s infinite ease-out;
}


@keyframes upDown {
  0% {
    transform: translateY(-70px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-70px);
  }
}

/* Header End */

/* Services Start */
#services,
#why-us {
  padding: 6rem 0;
  text-align: center;
}

#services h2,
#why-us h2,
#testimonials h2 {
  font-size: 32px;
  padding-bottom: 8px;
  color: var(--blue);
  text-align: center;
}

#services .row,
#why-us .row,
#team .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin: 3rem 0;
}

#services .row .col {
  background-color: var(--bg-white);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#services .row .col:hover {
  transform: scale(1.04);
}

#services .row .col img,
#why-us .row .col img {
  width: 65px;
}


#services .row .col h3,
#why-us .row .col h3 {
  margin: 20px 0;
  font-size: 20px;
  color: var(--blue);
}

#services .row .col p,
#why-us .row .col p {
  font-size: 14px;
}

/* Services End */

/* About Start */
#about,
#team {
  padding: 6rem 0;
  background-color: var(--blue);
}

#about h2,
#team h2 {
  font-size: 32px;
  text-align: center;
  color: #fff;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
  margin-top: 3rem;

}

#about .row img {
  width: 100%;
}

#about .row h3 {
  color: #fff;
  font-size: 24px;
}

#about .row p {
  color: #fff;
  margin: 20px 0;
}

#about .row a {
  margin-top: 10px;
}

/* About End */

/* Team Start */
#team .row .col {
  background-color: var(--light-blue);
  padding: 3rem;
  text-align: center;
}

#team .row .col img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}

#team .row .col h3 {
  color: var(--cyan);
  margin: 15px 0 10px;
  font-size: 20px;
}

#team .row .col p {
  color: #fff;
  font-size: 14px;
}

#team .row .col .social,
#footer .row .col:first-child .social {
  margin-top: 30px;
}

#team .row .col .social a,
#footer .row .col:first-child .social a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

#team .row .col .social a:hover,
#footer .row .col:first-child .social a:hover {
  color: var(--cyan);
}

/* Team End */

/* Testimonials start*/

#testimonials {
  padding: 6rem 0;
}

#testimonials .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 6rem;
}

#testimonials .row .col {
  background-color: var(--bg-white);
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

#testimonials .row .col img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  position: absolute;
  left: 20px;
  top: -50px;
}

#testimonials .row .col h3 {
  font-size: 20px;
  color: var(--blue);
  margin: 16px 0 10px;
}

#testimonials .row .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

/* Testimonials End*/

/* Footer Start */
#footer .footer-content {
  background-color: var(--blue);
  padding: 3rem 0;
  color: #fff;
}

#footer .row {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr;
  column-gap: 2rem;
}

#footer .row .col h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

#footer .row .col:first-child p {
  margin: 10px 0;
}

#footer .row .col:first-child p i {
  margin-right: 5px;
}

#footer .row .col:nth-child(3) ul li a {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}

#footer .row .col:last-child input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
}

#footer .row .col:last-child input::placeholder {
  color: #fff;
}

#footer .row .col:last-child input:focus {
  outline: none;
}

#footer .row .col:last-child .btn {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.copyright {
  background-color: #fff;
  /* width: 100%; */
  padding: 1rem 0;
  text-align: center;
  color: #333;
}

.copyright p {
  font-weight: 500;
  color: var(--blue);
}

/* Footer End */

/* Tablet Responsiveness */
@media (max-width: 900px) {

  #services .row,
  #why-us .row,
  #team .row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

/* Mobile Responsive */
@media (max-width: 750px) {
  #home .navbar {
    flex-direction: column;
    padding: 30px 0;
  }

  #home .navbar .logo {
    margin-bottom: 20px;
  }

  #home .navbar ul li a {
    margin: 0 5px;
    font-size: 14px;
  }

  #home .home-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  #home .home-content h1 {
    font-size: 40px;
  }

  #services .row,
  #why-us .row,
  #team .row {
    grid-template-columns: 1fr;
  }

  #about .row,
  #testimonials .row,
  #footer .row {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .copyright p {
    font-size: 14px;
  }
}